## Notes:
- This exam consists of a Regression problem.
- Shape of the dataset is (10000,12) [Note if you are not getting this shape that means your data has not been uploaded correctly to the colab]
- The target feature in the dataset is the `Sale Price` column.
- Random state should be taken as 27 wherever applicable.
- ignore all the warnings while executing the codes
- Maximum marks : 100

## Metadata

- Year - selling year
- Date - selling date
- Locality - locality of the property
- Estimated Value - estimated selling price of the property
- Sale Price - Selling price of the property ▶▶▶ Target
- num_family - Number of family staying in the property
- Residential - Type of the property
- num_rooms - Number of rooms
- carpet_area - The area of an apartment that can be covered by a carpet or the net usable area is known as the carpet area.
- property_tax_rate - yearly tax of the property
- Face - Direction property is facing
- Bathroom Count

In [50]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Which dataset are you using for this exam?

In [51]:
df = pd.read_csv("V3.csv", )
df.head(10)

,Date,Year,Locality,Estimated Value,Sale Price,Property,Residential,num_rooms,num_bathrooms,carpet_area,property_tax_rate,Face
0,2009-01-02,2009,Waterbury,111440.0,185000.0,Single Family,Detached House,3,3,996.0,1.025953,South
1,2009-01-02,2009,NaN,73080.0,152000.0,Single Family,Detached House,3,1,935.0,1.025953,North
2,2009-01-02,2009,Waterbury,50540.0,105000.0,Single Family,Detached House,3,1,951.0,1.025953,East
3,2009-01-02,2009,Norwalk,571060.0,1000000.0,Single Family,Detached House,3,2,NaN,1.025953,South
4,2009-01-02,2009,Bridgeport,4775276.0,272900.0,Single Family,Detached House,3,1,971.0,1.025953,East
5,2009-01-02,2009,Greenwich,NaN,5187000.0,?,Detached House,3,2,1026.0,1.025953,South
6,2009-01-03,2009,Norwalk,NaN,1340000.0,Single Family,Detached House,3,1,936.0,1.025953,North
7,2009-01-03,2009,Norwalk,172620.0,409000.0,?,Detached House,3,3,1004.0,1.025953,South
8,2009-01-04,2009,Bridgeport,NaN,410000.0,Two Family,Duplex,4,3,1498.0,1.025953,West
9,2009-01-04,2009,Waterbury,NaN,176000.0,?,Detached House,3,1,1008.0,1.025953,North

In [52]:
df = df.replace("?",np.nan)

In [53]:
df.shape

(10000, 12)

### What are the unique values present in the Locality feature of the dataset?

In [54]:
df['Locality'].unique()

array(['Waterbury', nan, 'Norwalk', 'Bridgeport', 'Greenwich',
       'Fairfield', 'West Hartford', 'Stamford'], dtype=object)

### Which of the following columns have categorical data?

In [55]:
types = df.columns.groupby(df.dtypes)
types

{int64: ['Year', 'num_rooms', 'num_bathrooms'], float64: ['Estimated Value', 'Sale Price', 'carpet_area', 'property_tax_rate'], object: ['Date', 'Locality', 'Property', 'Residential', 'Face']}

### Which of the following features have `missing`(NaN) or unknown ("?") values present in the dataset?

In [56]:
print(df.isnull().sum())

Date                    0
Year                    0
Locality             1255
Estimated Value      1229
Sale Price              0
Property             1788
Residential             0
num_rooms               0
num_bathrooms           0
carpet_area          1282
property_tax_rate       0
Face                    0
dtype: int64

### In the Year 2022, how many houses (rows) located in the Greenwich Locality have more than 3 num_room, and facing towards either the North or East

In [57]:
df.loc[(df["Year"] == 2022) & (df['Locality'] == "Greenwich") & (df['num_rooms'] > 3) & ((df['Face'] == 'North') | (df['Face'] == 'East'))]

,Date,Year,Locality,Estimated Value,Sale Price,Property,Residential,num_rooms,num_bathrooms,carpet_area,property_tax_rate,Face
9354,2022-03-20,2022,Greenwich,346080.0,715000.0,Two Family,Duplex,4,3,1284.0,1.003979,North
9390,2022-04-13,2022,Greenwich,3313240.0,4850000.0,Two Family,Duplex,4,2,1313.0,1.003979,North
9728,2022-08-03,2022,Greenwich,709520.0,1050000.0,Two Family,Duplex,4,2,1489.0,1.003979,East
9754,2022-08-07,2022,Greenwich,425320.0,745000.0,Two Family,Duplex,4,2,1399.0,1.003979,North

### Split the dataset into train dataset and test dataset in the following manner

1. data(rows) collected before the year of 2021 [2009-2020] should be the train dataset
2. data(rows) collected in the year of 2021 and 2022 (both inclusive) should be the test dataset
3. columns except of the label vector should be the feature matrix (X_train or X_test)
4. make label vector (Y_train or y_test) containing values only from the target feature.

How many rows are in the feature matrix of the test dataset ?

In [58]:
df.Year.unique()
xtrain = df.loc[df['Year'] < 2021].drop('Sale Price',axis = 1)
xtest = df.loc[df['Year'] >= 2021].drop('Sale Price',axis = 1)
ytrain = df.loc[df['Year'] < 2021]['Sale Price']
ytest = df.loc[df['Year'] >= 2021]['Sale Price']
print(xtrain.shape,xtest.shape,ytrain.shape,ytest.shape)
print(xtrain.columns.unique())
xtrain.head()

(8265, 11) (1735, 11) (8265,) (1735,)
Index(['Date', 'Year', 'Locality', 'Estimated Value', 'Property',
       'Residential', 'num_rooms', 'num_bathrooms', 'carpet_area',
       'property_tax_rate', 'Face'],
      dtype='object')

,Date,Year,Locality,Estimated Value,Property,Residential,num_rooms,num_bathrooms,carpet_area,property_tax_rate,Face
0,2009-01-02,2009,Waterbury,111440.0,Single Family,Detached House,3,3,996.0,1.025953,South
1,2009-01-02,2009,NaN,73080.0,Single Family,Detached House,3,1,935.0,1.025953,North
2,2009-01-02,2009,Waterbury,50540.0,Single Family,Detached House,3,1,951.0,1.025953,East
3,2009-01-02,2009,Norwalk,571060.0,Single Family,Detached House,3,2,NaN,1.025953,South
4,2009-01-02,2009,Bridgeport,4775276.0,Single Family,Detached House,3,1,971.0,1.025953,East

In [59]:
ytrain

0        185000.0
1        152000.0
2        105000.0
3       1000000.0
4        272900.0
          ...
8260    1300000.0
8261     120000.0
8262     240000.0
8263     120000.0
8264     175000.0
Name: Sale Price, Length: 8265, dtype: float64

### Rules for Imputing the missing(NaN) or unknown ("?") values:
- compute the instructed statistical values for different columns in train dataset only to repalce missing(NaN) and unknown("?") values respectively.
- Replace the missing(NaN) and unknown("?") values from the train and test dataset with the instructed statistical values computed using the train dataset only.
- Ignore the missing and unknown values while calculating the statistical values.
- Replace missing values(NaN) with the MOST FREQUENT value of the `Locality` feature
- Repalce missing values(NaN) with the MEDIAN value of the `Estimated Value` feature
- Replace missing values(NaN) with the MEAN value of the `carpet_area` feature
- Replace Unknown values("?") with the MOST FREQUENT value of the `Property`.
- Write the answers related to the above imputation in below questions respectively.

### Write the MEAN value of the carpet_area column of the train dataset you found to replace all the Missing Values (NaN). (upto 2 digits after decimal points)

In [60]:
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

col = ColumnTransformer([("locsi",SimpleImputer(strategy = 'most_frequent'),['Locality'])
                        , ("evsi",SimpleImputer(strategy="median"),["Estimated Value"]),
                        ("casi", SimpleImputer(strategy = 'mean'),['carpet_area']),
                        ("psi",SimpleImputer(strategy="most_frequent"),["Property"])]
                       ,remainder = 'passthrough',verbose_feature_names_out=False)
xtrain_tr = col.fit_transform(xtrain)
xtest_tr = col.transform(xtest)


columns = ['Locality','Estimated Value',"carpet_area",'Property','Date', 'Year','Residential', 'num_rooms', 'num_bathrooms', 
           'property_tax_rate','Face']

In [61]:
xtrain_tr = pd.DataFrame(xtrain_tr,columns = col.get_feature_names_out())
xtest_tr = pd.DataFrame(xtest_tr,columns = col.get_feature_names_out())
np.mean(xtrain_tr['carpet_area'])

1110.9222453222155

### What value you used to replace the unknown value ("?") in the Property column of the train dataset?

In [62]:
print(xtrain['Property'].describe(),'\n')
xtrain_tr["Property"].value_counts()

count              6800
unique                4
top       Single Family
freq               5637
Name: Property, dtype: object

Single Family    7102
Two Family        697
Three Family      394
Four Family        72
Name: Property, dtype: int64

### Apply preprocessing on features of train and test datasets.
- Drop the 'Date' Column before the preprocessing steps.
- before applying any preprocessing there should not be any missing or unknown values present in the train and test dataset.
- fitting (learning) should be done only on train dataset.
- transform the test dataset using the fitting (learning) of train dataset

## For Numerical Features
- Scale the numerical feature of the feature matrix using the Min-Max Scaler

## For Categorical Features
- One-Hot Encode all categorical features(object columns) in the feature matrix

In [63]:
types
numerical = ['Year', 'num_rooms', 'num_bathrooms','Estimated Value',  'carpet_area', 'property_tax_rate']
categorical = ['Locality', 'Property', 'Residential', 'Face']

from sklearn.preprocessing import MinMaxScaler,OneHotEncoder
from sklearn.pipeline import Pipeline

pipe = Pipeline([("pipepp",MinMaxScaler())])


xtrain_tr = xtrain_tr.drop('Date',axis = 1)
xtest_tr = xtest_tr.drop('Date',axis = 1)

In [64]:
col_pp = ColumnTransformer([("numpp",pipe,numerical),
                            ("catpp",OneHotEncoder(),categorical)],remainder = "passthrough")

xtrain_pp = col_pp.fit_transform((xtrain_tr))
xtest_pp = col_pp.transform((xtest_tr))
col_pp

ColumnTransformer(remainder='passthrough',
                  transformers=[('numpp',
                                 Pipeline(steps=[('pipepp', MinMaxScaler())]),
                                 ['Year', 'num_rooms', 'num_bathrooms',
                                  'Estimated Value', 'carpet_area',
                                  'property_tax_rate']),
                                ('catpp', OneHotEncoder(),
                                 ['Locality', 'Property', 'Residential',
                                  'Face'])])

### How many total features you got after one-hot encoding and scaling the training dataset?

In [65]:
xtrain_pp.shape     
xtrain_pp[:1]

array([[0.        , 0.        , 0.28571429, 0.00527654, 0.04599904,
        0.01398097, 0.        , 0.        , 0.        , 0.        ,
        0.        , 1.        , 0.        , 0.        , 1.        ,
        0.        , 0.        , 1.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 1.        , 0.        ]])

### Apply LinearRegression on the train dataset(X_train and y_train). What is the R2 score on the test dataset(X_test and y_test). (Upto 4 digits after decimal points)

In [67]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
lin = LinearRegression()
lin.fit(xtrain_pp,ytrain)

ytrain_pred = lin.predict(xtrain_pp)

lin.score(xtest_pp,ytest)

0.7891559503405648

### Enter the maximum value of 𝑅2 score you got using the LinearRegression model when computed with 5 folds from the training dataset (X_train and y_train) using cross_val_score. ( Upto 4 digits after decimal points) obtained.

In [70]:
from sklearn.model_selection import cross_val_score


score = cross_val_score(lin,xtrain_pp,ytrain,scoring = "r2")
score.max()

0.7944554662635981

### Train Ridge and Lasso with random_state=27 and keep other parameters as default using train dataset. Which one has the least "mean squared error" for the test dataset.

In [71]:
from sklearn.linear_model import Ridge,Lasso,SGDRegressor
from sklearn.metrics import mean_squared_error

rig = Ridge(random_state=27)
rig.fit(xtrain_pp,ytrain)
ytest_pred_ridge = rig.predict(xtest_pp)
mser = mean_squared_error(ytest,ytest_pred_ridge)
print(mser)

las = Lasso(random_state=27)
las.fit(xtrain_pp,ytrain)
ytest_pred_lasso = las.predict(xtest_pp)
msel = mean_squared_error(ytest,ytest_pred_lasso)
print(msel)

print(f"Clearly Lasso has the least mean squared error {msel}")

164165615920.39453
155264967194.13284
Clearly Lasso has the least mean squared error 155264967194.13284

C:\Users\rahul gupta\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\sklearn\linear_model\_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 4.541e+14, tolerance: 9.324e+11
  model = cd_fast.enet_coordinate_descent(

### Train the SGDRegressor(random_state=27,warm_start=True) with maximum passes over the train dataset can be 100. Write the correct R2 score for this estimator on test dataset [NAT] (correct Upto 4 digits)

In [74]:
sgd = SGDRegressor(random_state=27,warm_start=True,max_iter=100)
sgd.fit(xtrain_pp,ytrain)
ytrain_pred_sgd = sgd.predict(xtrain_pp)
ytest_pred_sgd =  sgd.predict(xtest_pp)
score_sgd = r2_score(ytest,ytest_pred_sgd)
score_sgd

C:\Users\rahul gupta\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\sklearn\linear_model\_stochastic_gradient.py:1549: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  warnings.warn(

0.5675170814504262

### (Common Instructions for Question 14 and 15)
- create a pipeline of the PolynomialFeatures(interaction_only=True) as transformer and Lasso as an estimator.
- Use GridSearchCV for tuning the hyperparameters of the created pipeline on training dataset.
1. Keep polynomial degree as : [1,2]
2. lasso alpha value to be taken as : [10,100,1000,10000]
3. scoring : neg_mean_absolute_error.
4. cv = 5
5. n_jobs = -1 (negative one) [it helps in using all the computational power to run this job]

(Note: Kindly ignore the warning.)

### Mark the best alpha value you got using above instructions.

In [75]:
param_grid = ({"poly__degree" : [1,2],
              "las__alpha" :[10,100,1000,10000] })
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import PolynomialFeatures
ppgscv = Pipeline([("poly",PolynomialFeatures(interaction_only=True)),
                  ("las",Lasso())])

result = GridSearchCV(ppgscv,param_grid = param_grid, cv = 5 ,n_jobs = -1,scoring = 'neg_mean_absolute_error')
result.fit(xtrain_pp,ytrain)
result.best_params_

{'las__alpha': 1000, 'poly__degree': 1}

### (Common Instructions for Question 18-20)
Construct a pipeline to apply following steps: 
   - STEP-1 Selecting 10 best features based on the f_regression score function.
   - STEP-2 Apply Lasso algorithm with random_state=27 on that

### What is the max P-VALUE you got for any feature of the train dataset?(upto 4 digits after the decimal)

In [76]:
from sklearn.feature_selection import SelectKBest,f_regression

pipes = Pipeline([("skb",SelectKBest(f_regression,k = 10)),
                ("estimator",Lasso(random_state=27))])
pipes.fit(xtrain_pp,ytrain)

skb = SelectKBest(f_regression,k = 10)
a = skb.fit(xtrain_pp,ytrain)
a.pvalues_.max()

0.7496377947640863

### What is the R2 score you got for this model using the test dataset? (upto 4 digits after the decimal)

In [81]:
res = r2_score(ytest,pipes.predict(xtest_pp))
res

0.7871512249951642

### What is the max F_STATISTICS score you got for any feature of the train dataset?  (upto 2 digits after the decimal)

In [80]:
pipes[0].scores_.max()

21658.084015119446